{% case block.settings.add_border_top %}
	{% when 'add_border_top_yes' %}
		{%- assign border_top = 'border-top' -%}
	{% when 'add_border_top_no' %}
		{%- assign border_top = '' -%}
{% endcase %} 

{% case block.settings.add_border_bottom %}
	{% when 'add_border_bottom_yes' %}
		{%- assign border_bottom = 'border-bottom' -%}
	{% when 'add_border_bottom_no' %}
		{%- assign border_bottom = '' -%}
{% endcase %}  

<div data-section-id="{{ section.id }}" data-section-type="bannergrid-three-section" class="bannergrid-three-section cms-content-wrapper {{ border_top }} {{ border_bottom }}">
		<div class="wrapper">
        <div class="row" id="bannergrid-{{ section.id }}">
        	
        	 	<div class="col-wide-4 col-medium-12 col-small-12 col-smallest-12 {{ block.settings.text_color1 | escape }}">
                    
                    {% if block.settings.link1 != blank %}
						<a href="{{ block.settings.link1 }}" class="link_full">
					{% endif %}	 
                    {% if block.settings.image1 %}
                      <img src="{{ block.settings.image1 | img_url: '2048x' }}" alt="{% if block.settings.alttext1 %}{{ block.settings.alttext1 | escape }}{% endif %}" />
                    {% endif %}
                    {% if block.settings.link1 != blank %}
						</a> 
					{% endif %}	 
                    {% if block.settings.image1 == blank %}
                      <div class="placeholder-background">
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    {% endif %}
                    
                    {% if block.settings.link1 != blank %}
						<a href="{{ block.settings.link1 }}" class="link_full">&nbsp;</a> 
					{% endif %}	 
                    
                    <div class="text-wrap overlay">
                    	<div class="text-content">
							{% unless block.settings.alttext1 == blank %}
							<h2 class="mega-title title"> {{ block.settings.alttext1 }} </h2>
							{% endunless %}
						</div>
                    </div>
                    
                    {% if block.settings.link1 != blank %}
						<a href="{{ block.settings.link1 }}" class="link btn-shop-now">Shop Now</a> 
					{% endif %}	
                   
                </div>
                
                <div class="col-wide-4 col-medium-12 col-small-12 col-smallest-12 {{ block.settings.text_color2 | escape }}">
                    {% if block.settings.link2 != blank %}
						<a href="{{ block.settings.link2 }}" class="link_full"> 
					{% endif %}	 
                    {% if block.settings.image2 %}
                      <img src="{{ block.settings.image2 | img_url: '2048x' }}" alt="{% if block.settings.alttext2 %}{{ block.settings.alttext2 | escape }}{% endif %}" />
                    {% endif %}
                    {% if block.settings.link2 != blank %}
						</a> 
					{% endif %}	 
                    {% if block.settings.image2 == blank %}
                      <div class="placeholder-background">
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    {% endif %}
         
                    <div class="text-wrap overlay">
                    	<div class="text-content">
							{% unless block.settings.alttext2 == blank %}
							<h2 class="mega-title title"> {{ block.settings.alttext2 }} </h2>
							{% endunless %}
						</div>
                    </div>
                    
                    {% if block.settings.link2 != blank %}
						<a href="{{ block.settings.link2 }}" class="link btn-shop-now">Shop Now</a> 
					{% endif %}	
                   
                </div>
                
                <div class="col-wide-4 col-medium-12 col-small-12 col-smallest-12 {{ block.settings.text_color3 | escape }}">
                    {% if block.settings.link3 != blank %}
						<a href="{{ block.settings.link3 }}" class="link_full"> 
					{% endif %}	 
                    {% if block.settings.image3 %}
                      <img src="{{ block.settings.image3 | img_url: '2048x' }}" alt="{% if block.settings.alttext3 %}{{ block.settings.alttext3 | escape }}{% endif %}" />
                    {% endif %}
                    {% if block.settings.link3 != blank %}
						</a> 
					{% endif %}	 
                    {% if block.settings.image3 == blank %}
                      <div class="placeholder-background">
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    {% endif %}
                    
                    {% if block.settings.link3 != blank %}
						<a href="{{ block.settings.link3 }}" class="link_full">&nbsp;</a> 
					{% endif %}	 
                    
                    <div class="text-wrap overlay">
                    	<div class="text-content">
							{% unless block.settings.alttext3 == blank %}
							<h2 class="mega-title title"> {{ block.settings.alttext3 }} </h2>
							{% endunless %}
						</div>
                    </div>
                    
                    {% if block.settings.link3 != blank %}
						<a href="{{ block.settings.link3 }}" class="link btn-shop-now">Shop Now</a> 
					{% endif %}	
                   
                </div>
        </div>
</div>
</div>