{% case block.settings.add_border_top %}
	{% when 'add_border_top_yes' %}
		{%- assign border_top = 'border-top' -%}
	{% when 'add_border_top_no' %}
		{%- assign border_top = '' -%}
{% endcase %} 

{% case block.settings.add_border_bottom %}
	{% when 'add_border_bottom_yes' %}
		{%- assign border_bottom = 'border-bottom' -%}
	{% when 'add_border_bottom_no' %}
		{%- assign border_bottom = '' -%}
{% endcase %}  

<div data-section-id="{{ section.id }}" data-section-type="twocol-img-center-txt-section" class="wrapper cms-content-wrapper twocol-img-center-txt-section wrapper {{ border_top }} {{ border_bottom }}">

  {% case block.settings.column_order %}
    {% when 'image-left' %}
      {%- assign flex_direction = 'row-flex-reverse' -%}
    {% when 'image-right' %}
	  {%- assign flex_direction = 'row-flex-row' -%}
  {% endcase %}
  
  {% case block.settings.vertical_align %}
    {% when 'content-center' %}
      {%- assign flex_valign = 'row-flex-aligncenter' -%}
    {% when 'content-top' %}
	  {%- assign flex_valign = '' -%}
    {% when 'content-bottom' %}
	  {%- assign flex_valign = '' -%}
  {% endcase %}
  
  {% case block.settings.row_width %}
    {% when 'wrapper-full' %}
      {%- assign wrapper_width = 'wrapper-width-12' -%}
    {% when 'wrapper-twothirds' %}
      {%- assign wrapper_width = 'wrapper-width-10' -%}
    {% when 'wrapper-threequarters' %}
      {%- assign wrapper_width = 'wrapper-width-9' -%}
    {% when 'wrapper-half' %}
      {%- assign wrapper_width = 'wrapper-width-6' -%}
  {% endcase %}
  
  {% case block.settings.row_align %}
    {% when 'wrapper-left' %}
      {%- assign wrapper_align = 'wrapper-align-left' -%}
    {% when 'wrapper-center' %}
      {%- assign wrapper_align = 'wrapper-align-center' -%}
    {% when 'wrapper-right' %}
      {%- assign wrapper_align = 'wrapper-align-right' -%}
  {% endcase %}
    
  {% case block.settings.image_width %}
    {% when 'image-twothirds' %}
      {%- assign image_col_width = 'col-wide-8 col-medium-12 col-small-12 col-smallest-12' -%}
      {%- assign content_col_width = 'col-wide-4 col-medium-12 col-small-12 col-smallest-12' -%}
    {% when 'image-half' %}
      {%- assign image_col_width = 'col-wide-6 col-medium-12 col-small-12 col-smallest-12' -%}
      {%- assign content_col_width = 'col-wide-6 col-medium-12 col-small-12 col-smallest-12' -%}
    {% when 'image-third' %}
      {%- assign image_col_width = 'col-wide-4 col-medium-12 col-small-12 col-smallest-12' -%}
      {%- assign content_col_width = 'col-wide-8 col-medium-12 col-small-12 col-smallest-12' -%}
    {% when 'image-quarter' %}
      {%- assign image_col_width = 'col-wide-3 col-medium-12 col-small-12 col-smallest-12' -%}
      {%- assign content_col_width = 'col-wide-9 col-medium-12 col-small-12 col-smallest-12' -%}
    {% when 'image-threequarters' %}
      {%- assign image_col_width = 'col-wide-9 col-medium-12 col-small-12 col-smallest-12' -%}
      {%- assign content_col_width = 'col-wide-3 col-medium-12 col-small-12 col-smallest-12' -%}
  {% endcase %}

    	<div class="cms-content__row row row-flex {{ flex_direction }} {{ flex_valign }} {{ wrapper_width }} {{ wrapper_align }}" id="contentgrid-{{ section.id }}">
               <div class="{{ content_col_width }} {% if block.settings.vertical_align == 'content-bottom' %}row-flex-alignbottom{% endif %} col-text">
                	{% if block.settings.title != blank %}
		            	{% if block.settings.is_title_h1 == 'is_title_h1_yes' %}
			                <h1>
			                	{{ block.settings.title | escape }}
			                </h1>
		                {% else %}
			                <h2>
			                	{{ block.settings.title | escape }}
			                </h2>
		                {% endif %}
	                {% endif %}
                  
                  {% if block.settings.content != blank %}
                    
                      {{ block.settings.content }}
                    
                  {% endif %}
                  
                  
                   {% if block.settings.link != blank %}
		                 	<a class="link" href="{{ block.settings.link }}" class="btn-shop-now">Shop Now</a>
		           {% endif %}
                  
                </div>
                
                 <div class="{{ image_col_width }} col-image">
                    {% if block.settings.image %}
						<picture>
							<source media="(min-width: 900px)" srcset="{{ block.settings.image | img_url: '2048x' }}">
							<source media="(min-width: 500px)" srcset="{{ block.settings.image | img_url: '900x' }}">
							{% if block.settings.mobile_image %}<source srcset="{{ block.settings.mobile_image | img_url: '500x' }}">{% endif %}
							<img src="{{ block.settings.image | img_url: '2048x' }}" alt="{% if block.settings.alttext %}{{ block.settings.alttext | escape }}{% endif %}" />
						</picture>
                    {% endif %}
                    {% if block.settings.image == blank %}
                      <div class="placeholder-background">
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    {% endif %}
                </div>
                
                
        </div>

</div>