{% assign link_groups = linklists[item.settings.linklist].links %}

{% assign column_count = link_groups | size %}

<div class="meganav__item u-z-higher" data-meganav-item="meganav-{{ id }}">
    <span
            class="meganav__item__title"
            {% if item.settings.title_colour != "rgba(0,0,0,0)" %}
                style="color: {{ item.settings.title_colour }}"
            {% endif %}
    >
        {{ item.settings.title }}
    </span>

    <div
            class="meganav__item__menu meganav__item__menu--{{ column_count }}-col u-z-highest"
            data-meganav-menu="meganav-{{ id }}"
            {% if item.settings.background_colour != "rgba(0,0,0,0)" %}
                style="background-color: {{ item.settings.background_colour }}"
            {% endif %}
    >
        <div class="u-flex u-flex-1 meganav__item__menu__row">
            <div class="meganav__item__menu__linklists">
                {% for link_group in link_groups %}
                    {%
                        render 'meganav-linklist',
                        column: link_group,
                        is_first_item: forloop.first,
                        subheadings_colour: item.settings.subheadings_colour
                    %}
                {% endfor %}
            </div>

            {% if item.settings.featured_content_mobile %}
                {% assign show_for_mobile_class = 'meganav__item__menu__featured--show-for-mobile' %}
            {% endif %}

            <div class="meganav__item__menu__featured {{ show_for_mobile_class }}">
                <span
                        class="meganav__item__heading"
                        {% if item.settings.subheadings_colour != "rgba(0,0,0,0)" %}
                            style="color: {{ item.settings.subheadings_colour }}"
                        {% endif %}
                >
                    {{ item.settings.featured_content_heading }}
                </span>

                <div class="featured-row">
                    {% for i in (1..3) %}
                        {% assign content_handle = i | prepend: 'featured_content_' %}
                        {% assign image_handle = i | prepend: 'featured_content_image_' %}
                        {% assign mobile_image_handle = i | prepend: 'featured_content_mobile_image_' %}
                        {% assign title_handle = i | prepend: 'featured_content_title_' %}
                        {% assign mobile_handle = i | prepend: 'featured_content_mobile_' %}

                        {% if item.settings[content_handle] == '' %}
                            {% continue %}
                        {% endif %}

                        {%
                            render 'meganav-featured-content'
                            | link: item.settings[content_handle]
                            | image: item.settings[image_handle]
                            | mobile_image: item.settings[mobile_image_handle]
                            | title: item.settings[title_handle]
                            | mobile: item.settings[mobile_handle]
                        %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
