{%- if product.metafields.product.styled_with -%}

<div id="styledWith" class="active">
    <div class="product-list">
        <div class="wrapper">
            <h2 class="blockHeader">Styled With</h2>
            <div class="product-grid clearfix">
              {% for styled_product in product.metafields.product.styled_with.value %}
                <div class="item" id="">
                  <div class="product-image-wrap">
                    <a class="image" href="{{ styled_product.url }}">
                      <img src="{{ styled_product.featured_image | img_url: 'master' }}" loading="lazy" importance="low" alt="Blue Cotton-Cashmere Dress">
                    </a>
                  </div>
                  <div class="product-caption">
                    <h2 class="product-name">
                      <a href="{{ styled_product.url }}">{{styled_product.title}}</a>
                    </h2>
                    <span class="product-price"><s><span class="money">{{ styled_product.compare_at_price | money }}</span></s></span>
                    <span class="product-price on-sale on-sale-margin"><span class="money">{{styled_product.price | money}}</span></span>
                  </div>
              </div>
              {% endfor %}
            </div>
          
        </div>
    </div>
</div>
{%- endif -%}

<style>
#styledWith {
    width: 100%;
    max-width: 94.25em;
    padding: 0 1.25em;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#styledWith h2.blockHeader {
    text-align: center;
    font-family: Circular Std Book,helvetica,arial,sans-serif;
    font-size: 25px;
    font-size: 1.5625rem;
    margin: 64px auto;
    margin: 4rem auto;
    color: #111;
}
#styledWith .wrapper {
    padding: 0;
}

</style>