<!-- globale_my_account_order_include -->
{% include 'globale-order' %}

{% if customer %}
<div class="my-account wrapper">
	<div class="page-title title-buttons">
		<h1>{{ 'customer.order.title' | t: name: order.name }}
          <p class="return"><a class="button-text" href="/pages/my-orders"><i class="fal fa-long-arrow-left"></i>Return to My Orders</a></p>
          </h1>
	</div>
     <div class="row">
	     {% if order.cancelled %}
          <div class="order-cancelled">
               {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
               <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
               <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
          </div>
          {% endif %}
          <div class="order-table">
               <table>
                    <thead>
                         <tr>
                              <th>{{ 'customer.order.product' | t }}</th>
                              <th>&nbsp;</th>
                              <th>{{ 'customer.order.price' | t }}</th>
                              <th class="text-center">{{ 'customer.order.quantity' | t }}</th>
                              <th>{{ 'customer.order.total' | t }}</th>
                         </tr>
                    </thead>
                    <tbody>
                         {% for line_item in order.line_items %}
                         <tr id="{{ line_item.key }}" class="responsive-table__row" >
                         <td class="image">
                              {{ line_item.image | img_url: '149x224' | img_tag }}
                         </td>
                         <td class="product">
                              {{ line_item.title | link_to: line_item.product.url }}
                              <div class="details">
                                   {% if line_item.fulfillment %}
                                        <div class="note">
                                        {%- assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' -%}
                                        {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                                        {% if line_item.fulfillment.tracking_number %}
                                             <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                                        {% endif %}
                                   </div>
                                   {% endif %}
                                   <span>SKU: {{ line_item.sku }}</span>
                                   <span>Size: {{ line_item.variant }}</span>
                                   <div class="qty-total">
								<span class="order-qty" data-label="{{ 'customer.order.quantity' | t }}">
									{{ line_item.quantity }}
								</span>
								{{ line_item.quantity | times: line_item.price | money }}
							</div>
                              </div>
                         </td>
                         <td class="subtotal" data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
                         <td class="qty text-center" data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                         <td class="total" data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
                         </tr>
                         {% endfor %}
                    </tbody>
               </table>
               {%- assign order_date = order.created_at | date: "%B %d, %Y %I:%M%p" -%}
               <h2 class="order-date">{{ 'customer.order.date' | t: date: order_date }}</h2>
               <table class="order-total">
                    <tfoot>
                         <tr>
                              <td class="key">{{ 'customer.order.subtotal' | t }}</td>
                              <td class="value" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.subtotal_price | money }}</td>
                         </tr>
                         {% for discount in order.discounts %}
                         <tr class="order_summary discount">
                              <td class="key">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
                              <td class="value" data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
                         </tr>
                         {% endfor %}

                         {% for shipping_method in order.shipping_methods %}
                         <tr>
                              <td class="key">{{ 'customer.order.shipping' | t }} <!--({{ shipping_method.title }})--></td>
                              <td class="value" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                         </tr>
                         {% endfor %}

                         {% for tax_line in order.tax_lines %}
                         <tr>
                              <td class="key">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                              <td class="value" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                         </tr>
                         {% endfor %}
                         <tr>
                              <td class="key"><strong>{{ 'customer.order.total' | t }}</strong></td>
                              <td class="value" data-label="{{ 'customer.order.total' | t }}"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
                         </tr>
                    </tfoot>
               </table>
          </div>
          <div class="order-details">
               <div class="row">
                    <div class="col-wide-6 col-medium-6">
                         <h3>{{ 'customer.order.billing_address' | t }}</h3>
                         <p><strong>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</p>
                         {{ order.billing_address | format_address }}
                    </div>
                    <div class="col-wide-6 col-medium-6">
                         <h3>{{ 'customer.order.shipping_address' | t }}</h3>
                         <p><strong>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</p>
                         {{ order.shipping_address | format_address }}
                    </div>
               </div>
          </div>
	</div>
</div>
{% else %}
     <script type="text/javascript">
          window.location.href= "/account/"
     </script>
{% endif %}