{% if customer %}
    <script type="text/javascript">
        window.location.href= "/account/"
    </script>
{% else %}
<div class="account-form register wrapper">
     <div class="row">
          <div class="col-main">
               <div class="section">
               {% form 'create_customer' %}
                    <div class="page-title">
                         <h1><span>{{ 'customer.register.title' | t }}
                                   <span>Creating an account is easy, fill in the form below and enjoy the benefits.</span>
                                   </span>
                         </h1>
                    </div>
                    <div class="form">
                         {{ form.errors | default_errors }}
                         <input type="text" placeholder="{{ 'customer.register.first_name' | t }} *" required name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>
                         <input type="text" placeholder="{{ 'customer.register.last_name' | t }}" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
                         <input type="email" placeholder="{{ 'customer.register.email' | t }} *" required name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
                         <input type="password" placeholder="{{ 'customer.register.password' | t }}" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
                         <div class="selectWrapper">
                              <select id="CustomerFormGender" name="customer[note][Gender]">
                                   <option disabled selected>Gender</option>
                                   <option>Female</option>
                                   <option>Male</option>
                              </select>
                         </div>
                         <input id="fullRegisterBirthday" value="" name="customer[note][Birthday]" type="hidden"> 
                         <div class="multiInputWrapper clearfix">
                              <label>Date of Birth</label>
                              <div class="selectWrapper">
                                   <select class="accountBirthdaySignup" id="birthdayDay">
                                        <option disabled selected>Day</option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                        <option>26</option>
                                        <option>27</option>
                                        <option>28</option>
                                        <option>29</option>
                                        <option>30</option>
                                        <option>31</option>
                                   </select>
                              </div>
                              <div class="selectWrapper">
                                   <select class="accountBirthdaySignup" id="birthdayMonth">
                                        <option disabled selected>Month</option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                   </select>
                              </div>
                              <div class="inputWrapper">
                                   <input class="accountBirthdaySignup" type="text" placeholder="Year" id="birthdayYear">
                              </div>
                         </div>
                         <input type="text" id="CustomerFormMobile" name="customer[note][Mobile]" placeholder="Mobile phone number">
                         <input type="checkbox" id="CustomerSubscriber" name="customer[accepts_marketing]" value="true" checked/>
                         <label for="CustomerSubscriber">Join our mailing list</label>
                         <p>By opting in to our mailing list, you are agreeing to receive email marketing from Chinti & Parker. See our <a href="/pages/privacy-cookie-policy">Privacy Policy</a> for further details.</p>
                    	<div class="text-center buttons-set">
                              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button">
            	               <a class="button-text" href="{{ continue_shopping_url }}">Continue Shopping</a>
	      	          </div>
                    </div>
                    <div class="box">
                         <div class="page-title">
                              <h2>
                                   <span>Already a customer?
                                   <span>If this isn’t your first time on our site, you may already have an account with us.</span>
                                   </span>
                              </h2>
                         </div>
                         <a class="button button-second" href="/account/login">Sign in</a>
                    </div>
               {% endform %}	
               </div>
          </div>	
          {% section 'register-section' %}
     </div>
</div>
{% endif %}