{% if customer %}
    <script type="text/javascript">
        window.location.href= "/account/"
    </script>
{% else %}
<div class="account-form login wrapper">
    <div class="row">
        {% section 'login-section' %}
        <div class="col-main">
              <div class="section">
                  <div class="page-title ">
                        <h1><span>{{ 'customer.reset_password.title' | t }}
                                   <span>{{ 'customer.reset_password.subtext' | t: email: email }}</span>
                                   </span>
                        </h1>               
                  </div>	
                  <div class="form">
                      {% form 'reset_customer_password' %}
                        {{ form.errors | default_errors }}
                        <input placeholder="{{ 'customer.reset_password.password' | t }}" type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
                        <input placeholder="{{ 'customer.reset_password.password_confirm' | t }}" type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
                        <div class="text-center buttons-set">
                        <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
                        </div>
                      {% endform %}
                  </div>
              </div>
        </div>	
    </div>
</div>
{% endif %}