<html lang="en">
<head>
    <title>Be right back...</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@juno">
    <meta name="twitter:creator" content="@juno">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <style>
.row{width:100%}.column,.columns{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-left:.625em;padding-right:.625em;width:100%;float:left;min-height:1px}.centred{float:none;margin-left:auto;margin-right:auto;display:block}.small-1{width:8.33333%}.small-2{width:16.66667%}.small-3{width:25%}.small-4{width:33.33333%}.small-5{width:41.66667%}.small-6{width:50%}.small-7{width:58.33333%}.small-8{width:66.66667%}.small-9{width:75%}.small-10{width:83.33333%}.small-11{width:91.66667%}.small-12{width:100%}@media (min-width:38em){.medium-1{width:8.33333%}.medium-2{width:16.66667%}.medium-3{width:25%}.medium-4{width:33.33333%}.medium-5{width:41.66667%}.medium-6{width:50%}.medium-7{width:58.33333%}.medium-8{width:66.66667%}.medium-9{width:75%}.medium-10{width:83.33333%}.medium-11{width:91.66667%}.medium-12{width:100%}}@media (min-width:64em){.wide-1{width:8.33333%}.wide-2{width:16.66667%}.wide-3{width:25%}.wide-4{width:33.33333%}.wide-5{width:41.66667%}.wide-6{width:50%}.wide-7{width:58.33333%}.wide-8{width:66.66667%}.wide-9{width:75%}.wide-10{width:83.33333%}.wide-11{width:91.66667%}.wide-12{width:100%}}.small-1up>.column{width:100%}.small-2up>.column{width:50%}.small-3up>.column{width:33.33333%}.small-4up>.column{width:25%}.small-5up>.column{width:20%}.small-6up>.column{width:16.66667%}.small-7up>.column{width:14.28571%}.small-8up>.column{width:12.5%}.small-9up>.column{width:11.11111%}.small-10up>.column{width:10%}.small-11up>.column{width:9.09091%}.small-12up>.column{width:8.33333%}@media (max-width:37.99em){.small-2up>.column:nth-child(2n+1){clear:left}.small-3up>.column:nth-child(3n+1){clear:left}.small-4up>.column:nth-child(4n+1){clear:left}.small-5up>.column:nth-child(5n+1){clear:left}.small-6up>.column:nth-child(6n+1){clear:left}.small-7up>.column:nth-child(7n+1){clear:left}.small-8up>.column:nth-child(8n+1){clear:left}.small-9up>.column:nth-child(9n+1){clear:left}.small-10up>.column:nth-child(10n+1){clear:left}.small-11up>.column:nth-child(11n+1){clear:left}.small-12up>.column:nth-child(12n+1){clear:left}}@media (min-width:38em){.medium-1up>.column{width:100%}.medium-2up>.column{width:50%}.medium-3up>.column{width:33.33333%}.medium-4up>.column{width:25%}.medium-5up>.column{width:20%}.medium-6up>.column{width:16.66667%}.medium-7up>.column{width:14.28571%}.medium-8up>.column{width:12.5%}.medium-9up>.column{width:11.11111%}.medium-10up>.column{width:10%}.medium-11up>.column{width:9.09091%}.medium-12up>.column{width:8.33333%}}@media (min-width:38em) and (max-width:63.99em){.medium-2up>.column:nth-child(2n+1){clear:left}.medium-3up>.column:nth-child(3n+1){clear:left}.medium-4up>.column:nth-child(4n+1){clear:left}.medium-5up>.column:nth-child(5n+1){clear:left}.medium-6up>.column:nth-child(6n+1){clear:left}.medium-7up>.column:nth-child(7n+1){clear:left}.medium-8up>.column:nth-child(8n+1){clear:left}.medium-9up>.column:nth-child(9n+1){clear:left}.medium-10up>.column:nth-child(10n+1){clear:left}.medium-11up>.column:nth-child(11n+1){clear:left}.medium-12up>.column:nth-child(12n+1){clear:left}}@media (min-width:64em){.wide-1up>.column{width:100%}.wide-2up>.column{width:50%}.wide-3up>.column{width:33.33333%}.wide-4up>.column{width:25%}.wide-5up>.column{width:20%}.wide-6up>.column{width:16.66667%}.wide-7up>.column{width:14.28571%}.wide-8up>.column{width:12.5%}.wide-9up>.column{width:11.11111%}.wide-10up>.column{width:10%}.wide-11up>.column{width:9.09091%}.wide-12up>.column{width:8.33333%}}.equalHeights{display:table;display:flex;flex-wrap:wrap}.equalHeights>.column,.equalHeights>.columns{display:table-cell;display:flex}.equalHeights>.column>div,.equalHeights>.columns>div{width:100%;min-width:0}.verticallyCentre{display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-align:center;-webkit-align-items:center;-webkit-box-align:center;align-items:center}body{margin:0;text-align:left;color:#333;min-height:100%;font-family:"Circular Std"}p{font-size:18px;line-height:2}@media only all{p{font-size:1.125rem}}p strong{font-weight:500}@media (min-width:0) and (max-width:37.99em){p{font-size:16px}}@media only all and (min-width:0) and (max-width:37.99em){p{font-size:1rem}}::-moz-selection{background:#777;color:#fff;-moz-text-shadow:none}::selection{background:#777;color:#fff;-webkit-text-shadow:none;text-shadow:none}a{color:#333;text-decoration:none;-webkit-transition:color .4s ease;-moz-transition:color .4s ease;-o-transition:color .4s ease;transition:color .4s ease}a[href^=mailto]{text-decoration:underline}a:visited{color:#333}a:active,a:focus,a:hover{outline:0}h1,h2,h3,h4,h5,h6{padding:0;margin:0;font-weight:500}h1 em,h2 em,h3 em,h4 em,h5 em,h6 em{font-style:italic}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}p{margin:0;padding:0}ul{list-style:none;padding:0;margin:0}img{width:auto;max-width:100%}@font-face{font-family:'Circular Std';src:url({{'CircularStd-Bold.eot' | asset_url }});src:url({{'CircularStd-Bold.eot?#iefix' | asset_url }}) format("embedded-opentype"),url(C{{'ircularStd-Bold.woff' | asset_url }}) format("woff"),url({{'CircularStd-Bold.ttf' | asset_url }}) format("truetype");font-weight:700;font-style:normal}@font-face{font-family:'Circular Std';src:url({{'CircularStd-Medium.eot' | asset_url }});src:url({{'CircularStd-Medium.eot?#iefix' | asset_url }}) format("embedded-opentype"),url({{'CircularStd-Medium.woff' | asset_url }}) format("woff"),url({{'CircularStd-Medium.ttf' | asset_url }}) format("truetype");font-weight:500;font-style:normal}@font-face{font-family:'Circular Std';src:url({{'CircularStd-Book.eot' | asset_url }});src:url({{'CircularStd-Book.eot?#iefix' | asset_url }}) format("embedded-opentype"),url({{'CircularStd-Book.woff' | asset_url }}) format("woff"),url({{'CircularStd-Book.ttf' | asset_url }}) format("truetype");font-weight:400;font-style:normal}.clearfix:after,.clearfix:before,.row:after,.row:before{content:"";display:block;clear:both}#wrapper{position:relative}@media (min-width:64em){#wrapper{height:100vh;overflow:hidden}}.wrapper{width:100%;max-width:84.375em;padding:0 1.25em;margin:0 auto;box-sizing:border-box}.header{text-align:center;padding:28px 0}@media (min-width:64em){.header{position:absolute;top:0;left:0;width:100%}}@media (min-width:64em){.pages{height:100vh;box-sizing:border-box;padding-top:76px;position:relative}}@media (min-width:64em){.pages .row{position:relative;height:100%}}@media (min-width:64em){.pages .wrapper{display:table;height:100%}}@media (min-width:64em){.banner{height:100%;width:100%;position:absolute;top:0;left:0;text-align:center;background-color:#f2f0f1;background-size:cover;background-position:top center}.banner img{display:none}}@media (min-width:84.375em){.banner{background-position:top right}}@media (min-width:0) and (max-width:63.99em){.banner{background:0 0}.banner img{width:100%}}.content{padding:80px 65px}@media (min-width:64em){.content{position:relative;display:table-cell;vertical-align:middle;padding:0}.content .inner{max-width:500px}}@media (min-width:0) and (max-width:37.99em){.content{padding:40px 15px}}.content h2{font-size:48px;line-height:1;margin-bottom:56px}@media (min-width:0) and (max-width:37.99em){.content h2{font-size:32px;margin-bottom:36px}}.content p,.content ul{margin-bottom:35px}@media (min-width:0) and (max-width:37.99em){.content p,.content ul{margin-bottom:20px}}.content p:last-child,.content ul:last-child{margin-bottom:0}.content ul li{display:inline-block;margin-right:30px}@media (min-width:0) and (max-width:37.99em){.content ul li{margin-right:18px}}.content ul li:last-child{margin-right:0}.content .icon{height:22px;width:22px;background-size:22px auto;background-position:center;background-repeat:no-repeat;text-indent:-9999px;display:block}@media (min-width:0) and (max-width:37.99em){.content .icon{height:18px;width:18px;background-size:18px auto}}.content .icon.facebook{background-image:url({{'holding-page-facebook.svg' | asset_url }})}.content .icon.twitter{background-image:url({{'holding-page-twitter.svg' | asset_url }})}.content .icon.instagram{background-image:url({{'holding-page-instagram.svg' | asset_url }})}
    </style>
     {{ content_for_header }}
</head>
<body>
  <div id="wrapper" class="scroll">
    <div class="header" role="banner">
      <div class="wrapper">
        <h1 class="logo"><img src="{{ 'holding-page-logo.svg' | asset_url}}" alt="Chinti &amp; Parker"></h1>
      </div>
        </div>
        <div class="pages" role="main">
            <div class="row">
                <div class="banner" style="background-image: url({{ 'holding-page-banner.jpg' | asset_url }});">
                    <img src="{{ 'holding-page-banner-mobile.jpg' | asset_url }}" alt="Chinti &amp; Parker">
                </div>
                <div class="wrapper">
                    <div class="content">
                        <div class="inner">
                            <h2>Be right back&hellip;</h2>
                            <p><strong>Exciting things are happening.</strong> We’re giving our site a fresh new look, designed with you in mind. Please bear with us, we’ll be back with an even better online experience soon!</p>

                            <p>If you’ve any queries regarding your order you can still reach us on <a href="tel:+442070164312">+44 (0)207 016 4312</a> or email at <a href="mailto:info@chintiandparker.com">info@chintiandparker.com</a></p>
                            <ul>
                                <li><p>Follow us on:</p></li>
                                <li><a href="https://www.facebook.com/chintiandparker/" target="_blank" class="icon facebook">facebook</a></li>
                                <li><a href="https://twitter.com/chintiandparker/" target="_blank" class="icon twitter">twitter</a></li>
                                <li><a href="https://www.instagram.com/chintiandparker/" target="_blank" class="icon instagram">instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none;">{{ content_for_layout }}</div>
    </div>

    {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password">Enter store using password:</label>
        <input type="password" name="password" id="password" autofocus="" />
        <input class="btn" name="commit" type="submit" value="Enter" />
    {% endform %}
</body>
</html>
