<div data-section-id="{{ section.id }}" data-section-type="bannergrid-four-section" class="bannergrid-four-section">
    <div class="wrapper">
              <div class="row">
    {% for block in section.blocks %}
        {% if block.type == 'title-section' %}
      		{% if block.settings.title-section %}
          <h2 class="title-section">
          {{ block.settings.title-section }}
          </h2>
      		{% endif %}
        {% endif %}

         {% if block.type == 'image' %}
         <div class="col col-image">
                {% if block.settings.link != blank %}
                    <a href="{{ block.settings.link }}">
                {% endif %}
                {% if block.settings.image %}

                    <picture>
                    <source
                        media="(min-width: 1024px)"
                        srcset="{{ block.settings.image | img_url: '100x' }}"
                        data-srcset="{{ block.settings.image | img_url: 'master' }}"
                    >
                    {% if block.settings.mobile_image %}
                        <source
                            srcset="{{ block.settings.mobile_image | img_url: '100x' }}"
                            data-srcset="{{ block.settings.mobile_image | img_url: '500x' }}"
                        >
                    {% endif %}
                    <img
                        src="{{ block.settings.image | img_url: '100x' }}"
                        data-src="{{ block.settings.image | img_url: 'master' }}"
                        alt="{% if block.settings.heading %}{{ block.settings.heading | escape }}{% endif %}"
                        class="lazyload"
                    />
                  </picture>
                {% else %}
                    <div class="placeholder-background">
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                {% endif %}
                {% if block.settings.link != blank %}
                    </a>
                {% endif %}
                <h4>{% if block.settings.link != blank %}
                    <a href="{{ block.settings.link }}">
                {% endif %}
                    {{ block.settings.heading }}
                {% if block.settings.link != blank %}
                    </a>
                {% endif %}
                </h4>
                <p>
                  {{ block.settings.content }}

                </p>
          </div>
      {% endif %}
      {% endfor %}
		</div>
  </div>
</div>


{% schema %}
  {
    "name": "Banner Grid - Four",
    "class": "index-section",
    "max_blocks": 5,
    "blocks": [
      {
            "type": "title-section",
            "name": "Title Section",
            "settings": [
              {
                "type": "text",
                "id": "title-section",
                "label": "Title Section ",
                "default": "Title Section..."
              }
            ]
      },
      {
        "type": "image",
        "name": "Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading..."
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Lorem ipsum..."
          },
          {
            "type": "url",
            "id": "link",
            "label": "Banner link"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Banner Grid - Four",
      "category": "Image",
      "blocks": [
        {
          "type": "title-section"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
