{% comment %}
JUNO - Product Highlight Tab Carousels
{% endcomment %}

<div class="wrapper" id="productHighlightCollection">
	{% if section.settings.title != blank %}
	<!--div class="row">
		<div class="section-header text-center col-full-width">
			<h2>{{ section.settings.title | escape }}</h2>
		</div>
	</div-->
	{% endif %}

	{% assign navigationStructure = '' %}
	{% assign collectionContent = '' %}

	{% for link in linklists.homepage-product-highlight-collection.links %}

	{% assign option_index = forloop.index0 %}
	{% assign activeClass='' %}
	{% if option_index == 0 %}
	{% assign activeClass=' active' %}
	{% endif %}

	{% capture navigationStructure %}{{ navigationStructure}}
	<li>
		<a class="product-highlight-link{{activeClass}}" href="#highlightTab{{option_index}}">{{ link.title }}</a>
	</li>{% endcapture %}

	{% assign thisCollectionTitle = link.url %}

	{% comment %}
	convert eg '/collections/sale-now-on' to 'sale now on'
	{% endcomment %}
	{% assign thisCollectionTitleSplit = thisCollectionTitle | split: '/' %}
	{% capture thisCollection %}{{ thisCollectionTitleSplit[2] | replace: '-', ' ' }}{% endcapture %}

	{% assign thisCollection = thisCollection | handleize %}
	{%- assign collection = collections[thisCollection] -%}

	{% case section.settings.grid %}
	{% when '2' %}
	{%- assign grid_count = 'product-grid-2' -%}
	{%- assign grid_item_width = 'col-wide-6 col-medium-6 col-small-6 col-smallest-6' -%}
	{%- assign image_size = '530x530' -%}
	{% when '3' %}
	{%- assign grid_count = 'product-grid-3' -%}
	{%- assign grid_item_width = 'col-wide-4 col-medium-4 col-small-6 col-smallest-6' -%}
	{%- assign image_size = '345x345' -%}
	{% when '4' %}
	{%- assign grid_count = 'product-grid-4' -%}
	{%- assign grid_item_width = 'col-wide-3 col-medium-3 col-small-6 col-smallest-6' -%}
	{%- assign image_size = '250x250' -%}
	{% when '6' %}
	{%- assign grid_count = 'product-grid-6' -%}
	{%- assign grid_item_width = 'col-wide-2 col-medium-2 col-small-4 col-smallest-6' -%}
	{%- assign image_size = '250x250' -%}
	{% endcase %}

	{%- assign product_limit = section.settings.grid -%}

	{% capture collectionContent %}
	{{collectionContent}}
	<div id="highlightTab{{option_index}}" class="productHighlightContent tab-content {%if option_index==0%}visible{%endif%}">
		<div class="product-grid grid--uniform grid--view-items owl-carousel">
			{% for product in collection.products limit: product_limit %}
				{% include 'product-grid-item-featured' %}
			{% endfor %}

		</div>
	</div>
	{% endcapture %}
	{% endfor %}

	<ul id="productHightlightTabs">
		{{ navigationStructure }}

	</ul>
	<div id="productHighlightWrapper">
		<div class="row">
		{{ collectionContent }}

		</div>
	</div>
</div>


{% schema %}
  {
     "name": "Product highlight",
     "class": "index-section index-section--flush",
    "settings": [
          {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Product highlight"
      },      {
        "type": "select",
        "id": "grid",
        "label": "Number of Products",
        "default": "16",
        "options": [
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "8",
            "label": "8"
          },
           {
            "value": "12",
            "label": "12"
          },
           {
            "value": "16",
            "label": "16"
          },
                   {
            "value": "20",
            "label": "20"
          },
          {
            "value": "40",
            "label": "40"
          }

        ]
      }
	],
	"presets": [
      {
        "name": "Product highlight",
        "category": "Product"
      }
	]
  }
{% endschema %}

{% javascript %}
$('.product-highlight-link').click(function(e) {
  if(e) {
    e.preventDefault();
  }
  $('.product-highlight-link').removeClass('active');
  $(this).addClass('active');
  $('.productHighlightContent').removeClass('visible');
  $($(this).attr('href')).addClass('visible');
});
{% endjavascript %}
