<div class="wrapper full-width" data-section-id="{{ section.id }}" data-section-type="slideshow-section">

	{% if section.blocks.size > 0 %}
	<div class="slideshow-wrapper row">

		<div class="slideshow owl-carousel owl-theme" id="Slideshow-{{ section.id }}">
			{% for block in section.blocks %}

			<div class="slideshow__slide slideshow__slide--{{ block.id }} {{ block.settings.text_color | escape }}" {{ block.shopify_attributes }}>

          
				<div class="slideshow__image">
					{% if block.settings.image %}

					{% if forloop.first == true %}

					<picture>
						<source
              media="(min-width: 900px)"
              srcset="{{ block.settings.image | img_url: '100x' }}"
              data-srcset="{{ block.settings.image | img_url: '2048x' }}"
            >
						<source
              media="(min-width: 500px)"
              srcset="{{ block.settings.image | img_url: '100x' }}"
              data-srcset="{{ block.settings.image | img_url: '900x' }}"
            >
						<source
              srcset="{{ block.settings.mobile_image | img_url: '100x' }}"
              data-srcset="{{ block.settings.mobile_image | img_url: '500x' }}"
            >
						<img
              src="{{ block.settings.image | img_url: '100x' }}"
              data-src="{{ block.settings.image | img_url: 'master' }}"
              alt=""
              class="lazyload"
            />
					</picture>

					{% else %}

					{% comment %}
					need to lazy load subsequent images: ###########
					<img src="" class="owl-lazy" data-src="{{ block.settings.image | img_url: '2048x' }}" alt="" />
					{% endcomment %}
					<picture>
						<source
              media="(min-width: 900px)"
              srcset="{{ block.settings.image | img_url: '100x' }}"
              data-srcset="{{ block.settings.image | img_url: '2048x' }}"
            >
						<source
              media="(min-width: 500px)"
              srcset="{{ block.settings.image | img_url: '100x' }}"
              data-srcset="{{ block.settings.image | img_url: '900x' }}"
            >
						<source
              srcset="{{ block.settings.mobile_image | img_url: '100x' }}"
              data-srcset="{{ block.settings.mobile_image | img_url: '500x' }}"
            >
						<img
              src="{{ block.settings.image | img_url: '100x' }}"
              data-src="{{ block.settings.image | img_url: '2048x' }}"
              alt=""
              class="lazyload"
            />
					</picture>

					{% endif %}

					{% endif %}
					{% if block.settings.image == blank %}
					<div class="placeholder-background">
						{% capture current %}{% cycle 1, 2 %}{% endcapture %}
						{{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
					</div>
					{% endif %}
				</div>
       
        {% if block.settings.link != blank %}
          {% assign ctaLink=  block.settings.link %}
        {% endif %}
				<div class="text-wrap overlay" onclick="slideLink({{ ctaLink }})">
					<div class="text-content">
						<div class="wrapper" style="text-align: {{ block.settings.content_alignment }};">
							{% unless block.settings.title == blank %}
							<h2 class="mega-title title"> {{ block.settings.title }} </h2>
							{% endunless %}
							{% unless block.settings.subheading == blank %}
							<p class="mega-subtitle subtitle"> {{ block.settings.subheading | escape }} </p>
							{% endunless %}
              {% if block.settings.link != blank %}
					      <a href="{{ block.settings.link }}" class="cta-action">{{ block.settings.button_text }}</a>
				      {% endif %}
						</div>
					</div>
				</div>
				
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

</div>

{% schema %}
  {
    "name": "Slideshow",
    "class": "index-section index-section--flush",
    "max_blocks": 4,
    "settings": [
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Text color",
            "options": [
              { "value": "text-light", "label": "Light" },
              { "value": "text-dark", "label": "Dark" }
            ],
            "default": "text-light"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image slide"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Lorem ipsum dolor sit amet"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "CTA Button Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content alignment",
            "options": [
              {
                "value": "left",
                "label": "left"
              },
              {
                "value": "center",
                "label": "center"
              },
              {
                "value": "right",
                "label": "right"
              }
            ],
            "default": "left"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow",
      "category": "Image",
      "settings": {

      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}

<style>
  @font-face {
    font-family: gotham book;
    src: url(https://cdn.shopify.com/s/files/1/0040/7057/2147/files/Gotham_Book_Font.otf?v=1663331829);
  }
  .slideshow-wrapper h2,.slideshow-wrapper p , .slideshow-wrapper a{
    font-family: gotham book !important;
  }
  .slideshow-wrapper .mega-title {
    letter-spacing: 1px;
    line-height: 70px;
  }
  .slideshow-wrapper .text-content p{
    font-size: 24px;
  }
  .slideshow-wrapper .text-content .cta-action {
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    font-size: 40px;
    margin-top: 30px;
    display: inline-block;
}
.slideshow-wrapper  .text-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    top: 0;
    background: #00000036;
    transform: unset;
}
.slideshow-wrapper  .text-wrap .text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
</style>
